@font-face {
    font-family: "police 1";
    src: url("../fonts/MouseMemoirs-Regular.ttf");
}

@font-face {
    font-family: "police 2";
    src: url("../fonts/Pacifico-Regular.ttf");
}

@media (max-width:) {}

.inferieur::after {
    content: "le chiffre est inférieur !";

}

.superieur::after {
    content: "le chiffre est supérieur !";
}

body {
    background-color: #4a53b2;
    background-repeat: no-repeat;
}

.accueil {
    margin-top: 15%;
    height: 100%;
}

.titre {
    font-family: "police 1";
    font-size: 70px;
    margin-bottom: 30px;

}

.game {
    display: none;
    font-family: "police 1";
}

.recap {
    display: none;
}

.gameover {
    display: none;
}

#steam {
    opacity: .5;
}

.start {
    color: white;
    font-family: "police 1";
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    letter-spacing: 1.5px;
}

.go {
    width: 100px;
    height: 100px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: green;
    border-radius: 50%;
    border: none;
}

.signed {
    margin-top: 50px;
    padding-left: 400px;
    font-family: "police 2";
}

cite {
    display: inline-block;
    margin-top: 80px;
}

span {
    display: block;
    margin-top: 15px;
    font-size: 40px;
}

.propo {
    margin-bottom: 250px;
    width: 300px;
    height: 100px;
    border-radius: 25% 25% 25% 25%;
    text-align: center;
    font-size: 30px;
    margin-left: -60px;
}

.bouton {

    width: 150px;
    height: 100px;
    border-radius: 50%;
    background-color: green;
    border: none;
    font-size: 40px;
    color: white;
}

.perdu {
    font-size: 150px;
    text-align: center;
    color: red;
    font-family: "police 1";
}

.rejouer {
    height: 100px;
    width: 150px;
    border-radius: 50%;
    border: none;
    color: white;
    background-color: limegreen;
    text-align: center;
    font-family: "police 1";
    font-size: 40px;
}

.lost {
    text-align: center;
}

a,
button,
input:focus {
    outline: none;
}

.indice,
.nbEssai {

    width: 300px;
    height: 100px;
    font-size: 25px;
    text-align: center;
    margin-top: -200px;
    margin-left: 75px;
    color: white;
    font-family: "police 1";
}
.winbutton
{
   height: 100px;
    width: 150px;
    border-radius: 50%;
    border: none;
    color : white;
    background-color: limegreen;
    text-align: center;
    font-family: "police 1";
    font-size: 40px; 
}
.gagne
{
    font-family: "police 1";
    color: white;
    text-align:  center;
    font-size: 150px;
    margin-bottom: 50px;
    color: lawngreen;
}

.tada {
    animation-delay: 0.3s;
}
